{% extends "partials/base.html" %} {% load static %} {% block main %}

<main>
  <div class="full-width_padding">
    <div class="breadcrumb mb-0 d-md-block flex-grow-1">
      <a href="/" class="menu-link menu-link_us-s text-uppercase fw-medium"
        >Home</a
      >
      <span class="breadcrumb-separator menu-link fw-medium ps-1 pe-1"
        >&#10093;</span
      >
      <a href="#" class="menu-link menu-link_us-s text-uppercase fw-medium"
        >Contact Us</a
      >
    </div>
  </div>
    <div class="mb-4 pb-4"></div>
    <section class="store-location container">
        <h2 class="page-title">STORE LOCATOR</h2>

        <div class="row">
            <div class="col-lg-4">
                <form action="" method="GET">
                    

                    <div class="store-location__search-result">
                        <div class="store-location__search-result__item">
                            <h5>Store in Mumbai</h5>
                            <p>
                              Galla No. B137, First Floor, Kohinoor Industrial Complex, Plot No. J7-J9, Opp. Hindalco, MIDC Taloja, Panvel, Maharashtra-410208
                            </p>
                            <p>
                              sales.urbanfarm@gmail.com
                            </p>
                            <p>
                              +91-8879658654
                            </p>
                            <a id="store_selector_1" href="https://www.google.com/maps/place/Urban+Farm+Systems+and+Technologies+LLP/@19.0648509,73.1267109,17z/data=!3m1!4b1!4m6!3m5!1s0x3be7c217dba119ed:0x441d70984a82c868!8m2!3d19.0648509!4d73.1267109!16s%2Fg%2F11cncczfx2?entry=ttu">See on the map</a>
                        </div>

                    </div>
                </form>
            </div>
            <div class="col-lg-8">
                
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3772.1536912365073!2d73.09522948730387!3d19.012948101932153!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7e82cc86d75d5%3A0xc9c572ed9aeb3428!2sKohinoor%20Complex!5e0!3m2!1sen!2sin!4v1711024640058!5m2!1sen!2sin" width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
               
            </div>
        </div>
    </section>
</main>

<div class="mb-5 pb-xl-5"></div>


  {% endblock main %}